@import "variables";

//LOGIN PAGE
@import "components/input";
@import "components/card";
@import "components/buttons";
@import "pages/login";

//CHAT PAGE
@import "pages/chat";
@import "components/animations";
@import "components/scrollBars";


* {
    box-sizing: border-box;
}

body {
	margin: 0;
    background: $backgroundStandard;
    color: $standardGrey;
    font-family: $roboto;
    font-size: $fontStandard;
    line-height: $lineHeigthStandard;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}