@import "variables";
@import "components/login";

body {
    background: $backgroundStandard;
    color: $colorStandard;
    font-family: $roboto;
    font-size: $fontStandard;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}