doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    style.
      body{
      margin-top: 30px;
      }
      #messageArea{
      display: none;
      }
    title Document
  body
    .container
      #userFormArea.row
        .col-md-12
          .formgroup
            label(for='user') Enter Username
            textarea#user.form-control(name='user')
            input#sendUser.btn.btn-primary(type='submit', value='login')
      #messageArea.row
        .col-md-4
          .well
            h3 Online Users
            ul#users.list-group
        .col-md-8
          #chat.chat
          .formgroup
            label(for='message') Enter Message
            textarea#message.form-control(name='message')
            input#sendMessage.btn.btn-primary(type='submit', value='send message')
    script(src='https://code.jquery.com/jquery-3.4.0.min.js')
    script(type='text/javascript', src='/javascripts/primus.js')
    script(type='text/javascript', src='/javascripts/index.js')
