.btn {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: 0;
    width: 240px;
    border: 2px solid $lightGrey;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    transition: $transitionStandard ease;
    color: $lightGrey;
}

.btn:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: $red;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    transition: .3s ease;
}

.btn--dark:hover {
    border-color: $red;
    color: $red;
}

.btn--light {
    background: $whiteOpacity;
    border-color: $whiteOpacity;
    color: $red;
}

.btn--light:hover {
    background: $white;
    border-color: $white;
}

.btn__container {
    margin: 0 60px;
    text-align: center;
}

.card--red .btn__container{
    left: 100px;
    opacity: 0;
    visibility: hidden;
}

#active .btn__container {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: $transitionStandard ease;
    transition-delay: 0.7s;
}

.logout {
    width: 80%;
    height: 42px;
    background-color: $red;
    border-radius: $borderStandard;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    position: relative;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 29px;
}

.logout__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.logout__icon {
    margin-left: 10px;
}