.card {
  position: relative;
  background-color: $white;
  border-radius: $borderStandard;
  padding: 60px 0 40px 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: $transitionStandard ease;
}

.card__background {
  background: $cardBackground;
  height: 10px;
  border-radius: $borderStandard $borderStandard 0 0;
  margin: 0 10px;
  padding: 0;
}

#active .card__background {
  background: $cardBackgroundActive;
  margin: 0 15px;
}

.card--red{
  position: absolute;
  top: 40px;
  right: -70px;
  z-index: 10;
  width: 140px;
  height: 140px;
  background: none;
  border-radius: $borderCircle;
  box-shadow: none;
  padding: 0;
  transition: $transitionStandard ease;
}

#active .card--red {
  top: 20px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  padding: 60px 0 40px;
  overflow: hidden;
  border-radius: 0;
}

.card__toggle {
  position: relative;
  background: $red;
  width: 140px;
  height: 140px;
  border-radius: $borderCircle;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: $white;
  font-size: 58px;
  line-height: 140px;
  text-align: center;
  cursor: pointer;
}

.card__toggle:before {
  content: '\f040';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

#active .card__toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  box-shadow: none;
  -webkit-transform: scale(10);
  transform: scale(10);
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

#active .card__toggle:before{
  content: "";
}

.card__title{
  position: relative;
  z-index: 1;
  border-left: 5px solid $red;
  margin: 0 0 35px;
  padding: 10px 0 10px 50px;
  color: $red;
  font-size: $fontTitle;
  font-weight: $weightBig;
  text-transform: uppercase;
}

.card--red .card__title {
  position: relative;
  border-left: $white;
  color: $white;
  left: 100px;
  opacity: 0;
  visibility: hidden;
}

#active .card--red .card__title {
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: $transitionStandard ease;
  transition-delay: 0.3s;
}

.card__close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 60px;
  display: inline;
  color: #ffffff;
  font-size: 50px;
  font-weight: 300;
}
