.input {
    outline: none;
    background: transparent;
    border: none;
    height: 60px;
    width: 100%;
    font-size: $fontInput;
    font-weight: $weightMedium;
}

.input:focus ~ .input__label,
.input:valid ~ .input__label {
    color: $inputFocus;
    -webkit-transform: translate(-12%, -50%) scale(0.75);
    transform: translate(-12%, -50%) scale(0.75);
}

.input__label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: $fontInput;
    font-weight: $weightLabel;
    line-height: $lineHeightLabel;
    transition: $transitionStandard ease;
}

.input__line {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
}

.input__line:before {
    left: 0;
}

.input__line:after {
    right: 0;
    left: auto;
}

.input__line:before,
.input__line:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    transition: $transitionStandard ease;
}

.input:focus ~ .input__line:before,
.input:focus ~ .input__line:after {
    width: 50%;
}

#active .input--light {
    color: $white;
}

#active .input__label--light {
    color: $whiteOpacity;
}

#active .input:focus ~ .input__label--light,
#active .input:valid ~ .input__label--light {
    color: $white;
}

#active .input__line--light {
    background-color: $whiteOpacity;
}

#active .input__line--light:before, .input__line--light:after {
    background-color: $white;
}

.input--dark {
    color: $inputGrey;
}

.input__label--dark {
    color: $inputDark;
}

.input__line--dark {
    background-color: $inputDark;
}

.input__line--dark:before, .input__line--dark:after {
    background-color: $red;
}

.input__container {
    position: relative;
    margin: 0 60px 50px;
}

.card--red .input__container {
    left: 100px;
    opacity: 0;
    visibility: hidden;
}

#active .card--red .input__container {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: $transitionStandard ease;
}

.search {
    float: left;
    width: calc(100% - 60px);
    height: 42px;
    padding: 0 15px;
    border: 1px solid $chatPrimary;
    background-color: $chatSecundary;
    border-radius: $borderSearch;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    outline: none;
}

.search__btn {
    display: block;
    float: right;
    width: 42px;
    height: 42px;
    margin-left: 10px;
    border: 1px solid $chatPrimary;
    background-color: $red;
    border-radius: $borderCircle;
    cursor: pointer;
    color: $white;
    font-size: $fontIcon;
}

.message__input {
    height: 42px;
    padding-left: 8px;
    border: 1px solid $chatPrimary;
    background-color: $chatSecundary;
    width: 100%;
    border-radius: $borderStandard;
    font-size: $fontMessage;
    padding: 0 40px;
    color: $chatBold;
    outline: none;
    float: left;
    font-weight: $weightMedium;
}

.message__btn {
    position: absolute;
    right: 0;
    left: auto;
    width: 40px;
    height: 40px;
    margin-top: 1px;
    margin-right: 30px;
    border: none;
    background-color: $red;
    border-bottom-right-radius: $borderStandard;
    border-top-right-radius: $borderStandard;
    cursor: pointer;
    outline: none;
}

.message__btn--left {
    margin-right: 70px;
    border-radius: 0;
}

.message__btn--green {
    background-color: $green;
}

.message__update {
    display: none;
}

.message__icon {
    color: $whiteOpacity;
    font-size: $fontMessage;
    transition: $transitionStandard ease;
}

.message__btn:hover .message__icon {
    color: $white;
}