.message__container::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: $borderScroll;
	background-color: $chatSecundary;
}

.message__container::-webkit-scrollbar {
	width: 10px;
	background-color: $chatSecundary;
}

.message__container::-webkit-scrollbar-thumb {
	border-radius: $borderScroll;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $red;
}

.user__container::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: $borderScroll;
	background-color: $chatSecundary;
}

.user__container::-webkit-scrollbar {
	width: 10px;
	background-color: $chatSecundary;
}

.user__container::-webkit-scrollbar-thumb {
	border-radius: $borderScroll;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $red;
}